@import "_mixins";

.co-headerProp {
    width: 100%;
    height: 700px;
    background-image: url(../imagenes/fondosuscripcion.webp);
    background-position-y: -70px;
}

header {
    h1 {
        color: white;
        text-shadow: 7px 3px 6px black;
    }
}

//@mixin flex ($direction,$justify,$align,$wrap)
.co-main{
    border-radius: 3px;
    background-color: aqua;
    padding: 50px 90px;
        .co-container-ul{
            @include flex (column,flex-start,stretch,nowrap);
            justify-content: space-between;
                li{display: flex;
                    flex-direction: row;
                    margin: 30px 0px;
                    .co-div-svg{
                        width:  48px ;
                        height: 48px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: whitesmoke;
                        border-radius: 100%;
                        padding:10px;
                        }
                    .co-div-info{
                        margin-left: 15px;
                        display: flex;
                        flex-direction: column;
                    }
                    }

        }
}