.in-headerProp {
    width: 100%;
    height: 700px;
    background-image: url(../imagenes/fondoindex.webp);
}

header {
    h1 {
        color: white;
        text-shadow: 7px 3px 6px black;
    }
}

.in-contenedor{
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: black;
    width: 30%;
    height: auto;
    margin: 10px;
}
.in-imagen{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: transform 0.5s ease-in-out;
}
.in-contenedor:hover .in-imagen{
    opacity: 0.4;
    transform: scale(1.1);
}
.in-parrafo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    color: white;
    padding: 10px;
    width: 80%;
}
.in-contenedor:hover .in-parrafo{
    opacity: 1;
}