.us-headerProp {
    width: 100%;
    height: 700px;
    background-image: url(../imagenes/imgnos/fondoNosotros.webp);
}

header {
    h1 {
        color: white;
        text-shadow: 7px 3px 6px black;
    }
}

.nos-section{
    background-color: beige;
    svg{
        width: 100px;
        height: 100px;
        fill: white;
        margin-top: 20px;
        margin-right: 40px;
        margin-bottom: 50px;
        background-color: black;
        border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    h4{
        margin-top: 30px;
    }
}

.nos-section1{
    background-color: rgb(231, 251, 231);
}

.nos-grid{
    @include grid(4, 2, 
    "area1 area2 area2 area2"
    "area4 area4 area4 area3"
    );
    gap: 15px;
      
}

.nos-area1{
    grid-area: area1;
}
.nos-area2{
    grid-area: area2;
    width: 100%;
    height: 400px;
}
.nos-area3{
    grid-area: area3;
}
.nos-area4{
    grid-area: area4;
}

.nos-div1{
    text-align: justify;
    width: 450px;
    height: 150px;
}
.nos-div2{
    text-align: justify;
    width: 350px;
    height:250px;
}
